include _functions
include _config
include _mixins

block variables
- main();

doctype html
html( lang='en', class= htmlClass )
	head
		title= pageName

		meta( charset='utf-8' )
		meta( name='viewport', content='width=device-width, height=device-height, initial-scale=1.0' )
		meta( http-equiv='X-UA-Compatible', content='IE=edge' )

		meta( property='og:title', content='Template Monster Admin Template' )
		meta( property='og:description', content='brevis, barbatus clabulares aliquando convertam de dexter, peritus capio. devatio clemens habitio est.' )
		meta( property='og:image', content='http://digipunk.netii.net/images/radar.gif' )
		meta( property='og:url', content='http://digipunk.netii.net' )

		link( rel='icon', href='images/favicon.ico', type='image/x-icon' )
		link( rel='stylesheet', href='components/base/base.css' )
		script( src='components/base/core.min.js' )
		script( src='components/base/script.js' )

		block head

	body
		.page( class= pageClass )
			if( pageImage )
				.page-image: +img( pageImage )
			block page
			block modal

		.page-loader.context-dark
			.page-loader-container
				+img( logo.default ).page-loader-logo( alt= logo.name )
				//svg.page-loader-progress( x='0px', y='0px', width='100', height='100', viewBox='0 0 100 100', style='visibility: hidden;' )
				//	circle.page-loader-circle.clipped( cx='50', cy='50', r='48' )
