// Text styling

// Gray colors
@each $color, $value in $grays {
	.text-#{$color} {
		color: $color;
	}
}

.fw-medium {
	font-weight: 500;
}

// Context dark
.context-dark {
	.text-contrast {
		color: $gray-400;
	}
}

.text-4001 {
	color: $gray-4001;
}

.text-outline {
	color: #fff;
	font-weight: 900;
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	opacity: .2;
	text-transform: uppercase;
	line-height: .89;
	font-size: px-to-rem( 270px );
}
