// Values
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Values', category:'content box', reload:false, id:'values' } )
	.container
		.row.row-30.novi-disabled
			.col-md-5
				h4 Values
				p Our core values reflect our team’s dedication to providing sustainble green energy solutions to our customers.
			.col-md-7
				ol.list.list-ordered.h3.h3-small
					li.list-item Committed
					li.list-item Collaboration
					li.list-item Resourceful
					li.list-item Integrity
					li.list-item Nimble
					li.list-item Greatness
					li.list-item Quality
