include ../person/_person

// Our founders
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Our Founders', category:'person', reload:false, id:'our-founders' } )
	.container
		h4 Our team
		.row.row-30.row-offset-sm
			.col-xs-6.col-md-4
				+person({
					img: 'persons/person-04-400x400',
					title: 'John Williams',
					subtitle: 'Chief executive officer, founder',
					links: [
						{ iconClass: 'int-twitter' }
					]
				}).person-lg
			.col-xs-6.col-md-4
				+person({
					img: 'persons/person-05-400x400',
					title: 'Edward Johnson',
					subtitle: 'Head of R&D',
					links: [
						{ iconClass: 'int-twitter' }
					]
				}).person-lg
			.col-xs-6.col-md-4
				+person({
					img: 'persons/person-06-400x400',
					title: 'Peter Smith',
					subtitle: 'Project manager',
					links: [
						{ iconClass: 'int-twitter' }
					]
				}).person-lg
