include ../breadcrumb/_breadcrumb

// Intro
section.section.section-sm.section-layer.context-dark.pb-1( data-preset!={ title:'Intro', category:'intro', reload:false, id:'intro-4' } )
	.bg-layer.bg-image.overlay-dark.overlay-dark-08.novi-background( style='bottom: 9.4%; background-image: url("images/image-10x1920x817.jpg")' )
	.container
		+breadcrumb( breadcrumbs )
		h4= pageName
		.row.row-30.mt-4
			.col-xs-10.col-sm-5( style='padding-top: 8.6%;' )
				h2 Providing green energy to everyone worldwide
			.col-xs-10.col-sm-7
				+img( 'image-22-730x730' )
