include ../review/_review

// In the press
section.section.section-lg.bg-800.context-dark.novi-background( data-preset!={ title:'Reviews', category:'quote', reload:true, id:'reviews' } )
	.container
		h2 In the press
		// Owl Carousel
		.owl-carousel( data-owl= { dots: true }, data-items='1', data-md-items='2', data-xl-items='3')
			+review({
				text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.',
				name: 'EcoLogic',
				time: {
					date: '2023-05-16',
					text: 'May 16, 2023'
				}
			})
			+review({
				text: 'Urna id volutpat lacus laoreet non curabitur gravida. Quam adipiscing vitae proin sagittis nisl. Amet dictum ',
				name: 'ESCO',
				time: {
					date: '2023-06-16',
					text: 'June 16, 2023'
				}
			})
			+review({
				text: 'Orci ac auctor augue mauris augue neque gravida. Ultricies mi eget mauris pharetra et ultrices. Id velit ut tortor',
				name: 'InnoEnergy',
				time: {
					date: '2023-07-16',
					text: 'July 16, 2023'
				}
			})
			+review({
				text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.',
				name: 'EcoLogic',
				time: {
					date: '2023-05-16',
					text: 'May 16, 2023'
				}
			})
			+review({
				text: 'Urna id volutpat lacus laoreet non curabitur gravida. Quam adipiscing vitae proin sagittis nisl. Amet dictum ',
				name: 'ESCO',
				time: {
					date: '2023-06-16',
					text: 'June 16, 2023'
				}
			})
			+review({
				text: 'Orci ac auctor augue mauris augue neque gravida. Ultricies mi eget mauris pharetra et ultrices. Id velit ut tortor',
				name: 'InnoEnergy',
				time: {
					date: '2023-07-16',
					text: 'July 16, 2023'
				}
			})
