include ../offer-box/_offer-box

// Careers
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Careers', category:'offer box', reload:true, id:'careers' } )
	.container
		.tab
			ul.nav.nav-classic.justify-content-center( role='tablist' )
				li.nav-item
					a.nav-link.h4.active( data-bs-toggle='tab', href='#navClassic1-1', role='tab', aria-selected='true' ) Digital Technology
				li.nav-item
					a.nav-link.h4( data-bs-toggle='tab', href='#navClassic1-2', role='tab', aria-selected='false' ) Finance
				li.nav-item
					a.nav-link.h4( data-bs-toggle='tab', href='#navClassic1-3', role='tab', aria-selected='false' ) Engineering
			.tab-content
				#navClassic1-1.tab-pane.fade.show.active( role='tabpanel' )
					.row.row-30.row-md-40
						.col-xs-6.col-md-4.col-lg-3
							+offer-box-light({
								title: 'Staff Technical <br class="d-none d-xl-block">Product Manager',
								text: 'Elit eget gravida cum sociis. A diam sollicitudin tempor id eu nisl nunc mi. Quisque non tellus orci ac auctor.',
								list: [
									{ listIcon: 'int-marker', listItem: 'New York' },
									{ listIcon: 'int-clock', listItem: 'Full Time' },
									{ listIcon: 'int-calendar', listItem: 'March 12, 2023' }
								]
							})
						.col-xs-6.col-md-4.col-lg-3
							+offer-box-light({
								title: 'Senior Software  <br class="d-none d-xl-block">Engineer',
								text: 'Nisi vitae suscipit tellus mauris. Nibh tortor id aliquet lectus. Proin nibh nisl condimentum id venenatis.',
								list: [
									{ listIcon: 'int-marker', listItem: 'New York' },
									{ listIcon: 'int-clock', listItem: 'Full Time' },
									{ listIcon: 'int-calendar', listItem: 'March 12, 2023' }
								]
							})
						.col-xs-6.col-md-4.col-lg-3
							+offer-box-light({
								title: 'Technical Project  <br class="d-none d-xl-block">Management',
								text: 'Consequat nisl vel pretium lectus quam id leo. Nunc id cursus metus aliquam. Sagittis nisl rhoncus mattis. ',
								list: [
									{ listIcon: 'int-marker', listItem: 'New York' },
									{ listIcon: 'int-clock', listItem: 'Full Time' },
									{ listIcon: 'int-calendar', listItem: 'March 12, 2023' }
								]
							})
						.col-xs-6.col-md-4.col-lg-3
							+offer-box-light({
								title: 'Executive CIO -  <br class="d-none d-xl-block">Engineering',
								text: 'Mus mauris vitae ultricies leo integer malesuada nunc vel. Sollicitudin nibh sit amet commodo nulla. Risus pretium.',
								list: [
									{ listIcon: 'int-marker', listItem: 'New York' },
									{ listIcon: 'int-clock', listItem: 'Full Time' },
									{ listIcon: 'int-calendar', listItem: 'March 12, 2023' }
								]
							})
						.col-xs-6.col-md-4.col-lg-3
							+offer-box-light({
								title: 'Staff Software  <br class="d-none d-xl-block">Architect',
								text: 'Pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae. Ridiculus mus mauris vitae ultricies.',
								list: [
									{ listIcon: 'int-marker', listItem: 'New York' },
									{ listIcon: 'int-clock', listItem: 'Full Time' },
									{ listIcon: 'int-calendar', listItem: 'March 12, 2023' }
								]
							})
						.col-xs-6.col-md-4.col-lg-3
							+offer-box-light({
								title: '3rd Party Risk IT  <br class="d-none d-xl-block">Auditor',
								text: 'Cursus risus at ultrices mi tempus. Quis eleifend quam adipiscing vitae proin sagittis nisl. ',
								list: [
									{ listIcon: 'int-marker', listItem: 'New York' },
									{ listIcon: 'int-clock', listItem: 'Full Time' },
									{ listIcon: 'int-calendar', listItem: 'March 12, 2023' }
								]
							})

				#navClassic1-2.tab-pane.fade( role='tabpanel' )
					.row.row-30.row-md-40
						.col-xs-6.col-md-4.col-lg-3
							+offer-box-light({
								title: 'Technical Project  <br class="d-none d-xl-block">Management',
								text: 'Consequat nisl vel pretium lectus quam id leo. Nunc id cursus metus aliquam. Sagittis nisl rhoncus mattis. ',
								list: [
									{listIcon: 'int-marker', listItem: 'New York'},
									{listIcon: 'int-clock', listItem: 'Full Time'},
									{listIcon: 'int-calendar', listItem: 'March 12, 2023'}
								]
							})
						.col-xs-6.col-md-4.col-lg-3
							+offer-box-light({
								title: 'Executive CIO -  <br class="d-none d-xl-block">Engineering',
								text: 'Mus mauris vitae ultricies leo integer malesuada nunc vel. Sollicitudin nibh sit amet commodo nulla. Risus pretium.',
								list: [
									{listIcon: 'int-marker', listItem: 'New York'},
									{listIcon: 'int-clock', listItem: 'Full Time'},
									{listIcon: 'int-calendar', listItem: 'March 12, 2023'}
								]
							})
						.col-xs-6.col-md-4.col-lg-3
							+offer-box-light({
								title: 'Staff Software  <br class="d-none d-xl-block">Architect',
								text: 'Pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae. Ridiculus mus mauris vitae ultricies.',
								list: [
									{listIcon: 'int-marker', listItem: 'New York'},
									{listIcon: 'int-clock', listItem: 'Full Time'},
									{listIcon: 'int-calendar', listItem: 'March 12, 2023'}
								]
							})
						.col-xs-6.col-md-4.col-lg-3
							+offer-box-light({
								title: 'Staff Technical <br class="d-none d-xl-block">Product Manager',
								text: 'Elit eget gravida cum sociis. A diam sollicitudin tempor id eu nisl nunc mi. Quisque non tellus orci ac auctor.',
								list: [
									{listIcon: 'int-marker', listItem: 'New York'},
									{listIcon: 'int-clock', listItem: 'Full Time'},
									{listIcon: 'int-calendar', listItem: 'March 12, 2023'}
								]
							})
						.col-xs-6.col-md-4.col-lg-3
							+offer-box-light({
								title: 'Senior Software  <br class="d-none d-xl-block">Engineer',
								text: 'Nisi vitae suscipit tellus mauris. Nibh tortor id aliquet lectus. Proin nibh nisl condimentum id venenatis.',
								list: [
									{listIcon: 'int-marker', listItem: 'New York'},
									{listIcon: 'int-clock', listItem: 'Full Time'},
									{listIcon: 'int-calendar', listItem: 'March 12, 2023'}
								]
							})
						
						.col-xs-6.col-md-4.col-lg-3
							+offer-box-light({
								title: '3rd Party Risk IT  <br class="d-none d-xl-block">Auditor',
								text: 'Cursus risus at ultrices mi tempus. Quis eleifend quam adipiscing vitae proin sagittis nisl. ',
								list: [
									{listIcon: 'int-marker', listItem: 'New York'},
									{listIcon: 'int-clock', listItem: 'Full Time'},
									{listIcon: 'int-calendar', listItem: 'March 12, 2023'}
								]
							})

				#navClassic1-3.tab-pane.fade( role='tabpanel' )
					.row.row-30.row-md-40
						.col-xs-6.col-md-4.col-lg-3
							+offer-box-light({
								title: 'Staff Technical <br class="d-none d-xl-block">Product Manager',
								text: 'Elit eget gravida cum sociis. A diam sollicitudin tempor id eu nisl nunc mi. Quisque non tellus orci ac auctor.',
								list: [
									{listIcon: 'int-marker', listItem: 'New York'},
									{listIcon: 'int-clock', listItem: 'Full Time'},
									{listIcon: 'int-calendar', listItem: 'March 12, 2023'}
								]
							})
						.col-xs-6.col-md-4.col-lg-3
							+offer-box-light({
								title: 'Staff Software  <br class="d-none d-xl-block">Architect',
								text: 'Pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae. Ridiculus mus mauris vitae ultricies.',
								list: [
									{listIcon: 'int-marker', listItem: 'New York'},
									{listIcon: 'int-clock', listItem: 'Full Time'},
									{listIcon: 'int-calendar', listItem: 'March 12, 2023'}
								]
							})
						.col-xs-6.col-md-4.col-lg-3
							+offer-box-light({
								title: '3rd Party Risk IT  <br class="d-none d-xl-block">Auditor',
								text: 'Cursus risus at ultrices mi tempus. Quis eleifend quam adipiscing vitae proin sagittis nisl. ',
								list: [
									{listIcon: 'int-marker', listItem: 'New York'},
									{listIcon: 'int-clock', listItem: 'Full Time'},
									{listIcon: 'int-calendar', listItem: 'March 12, 2023'}
								]
							})

						.col-xs-6.col-md-4.col-lg-3
							+offer-box-light({
								title: 'Technical Project  <br class="d-none d-xl-block">Management',
								text: 'Consequat nisl vel pretium lectus quam id leo. Nunc id cursus metus aliquam. Sagittis nisl rhoncus mattis. ',
								list: [
									{listIcon: 'int-marker', listItem: 'New York'},
									{listIcon: 'int-clock', listItem: 'Full Time'},
									{listIcon: 'int-calendar', listItem: 'March 12, 2023'}
								]
							})
						.col-xs-6.col-md-4.col-lg-3
							+offer-box-light({
								title: 'Executive CIO -  <br class="d-none d-xl-block">Engineering',
								text: 'Mus mauris vitae ultricies leo integer malesuada nunc vel. Sollicitudin nibh sit amet commodo nulla. Risus pretium.',
								list: [
									{listIcon: 'int-marker', listItem: 'New York'},
									{listIcon: 'int-clock', listItem: 'Full Time'},
									{listIcon: 'int-calendar', listItem: 'March 12, 2023'}
								]
							})
						
						.col-xs-6.col-md-4.col-lg-3
							+offer-box-light({
								title: 'Senior Software  <br class="d-none d-xl-block">Engineer',
								text: 'Nisi vitae suscipit tellus mauris. Nibh tortor id aliquet lectus. Proin nibh nisl condimentum id venenatis.',
								list: [
									{listIcon: 'int-marker', listItem: 'New York'},
									{listIcon: 'int-clock', listItem: 'Full Time'},
									{listIcon: 'int-calendar', listItem: 'March 12, 2023'}
								]
							})
	.container.text-center.mt-5
		a.btn.btn-lg.btn-primary( href='contact-us.html' ) Contact Us
