// Call to action
section.section.section-lg.bg-gradient-blue-white.text-center.text-lg-start.novi-background( data-preset!={ title:'Call To Action', category:'call to action', reload:false, id:'call-to-action-7' } )
	.container
		.row.row-30.align-items-lg-center.justify-content-lg-between
			.col-lg-8( data-animate!={ class: 'fadeInLeft' } )
				h3 Make your life energy-efficient
				p.big.fw-normal Save on electric bills and increase your life quality with InGreen.
			.col-lg-auto( data-animate!={ class: 'fadeInRight' } )
				a.btn.btn-lg.btn-secondary( href='#' ) Get in Touch
