// Child themes
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Custom service', category:'content', reload:true, id:'service' } )
	.container
		.row.row-15.align-items-center.flex-md-row-reverse
			.col-sm-6.col-md-5( data-animate!={ class: 'fadeInRight' } )
				h5.text-primary Customer Service
				h2 Committed to customers’ satisfaction
				p.block.block-sm Our team is aimed at providing the best level of service with every project.
			.col-sm-6.col-md-7( data-animate!={ class: 'fadeInLeft' } )
				+img( 'image-07-530x630.png' )
