// home slider
section.section.bg-gradient-blue-white.novi-background.position-relative.overflow-hidden( data-preset!={ title:'Slider', category:'slider', reload:true, id:'slider' } )
	.section-title-custom.text-outline Green Energy 
	.swiper-container.swiper-vertical-nav( data-swiper={simulateTouch: false, autoplay: true} )
		.swiper-wrapper
			.swiper-slide.bg-image.min-vh-100.section-lg( style='background-image: url( images/slides/slide-01-1920x1000.png )' )
				.container
					.row
						.col-sm-10.col-md-9.col-lg-7.col-xl-6
							h1 Green Energy for Everyone
							p Making a positive impact through green energy since 2010.
							.group-20.offset-md.d-flex.align-items-center(data-lightgallery={selector:'.btn-play'})
								a.btn.btn-lg.btn-primary( href='#' ) Learn More
								a.btn.btn-lg.btn-play.btn-secondary( href='https://youtu.be/d5k9CILJivQ' )
									span.btn-play-icon.mdi.mdi-play
			.swiper-slide.bg-image.min-vh-100.section-lg( style='background-image: url( images/slides/slide-02-1920x1000.png )' )
				.container
					.row
						.col-sm-10.col-md-9.col-lg-7.col-xl-6
							h1 Qualified Green Energy Team
							p We employ the best local experts in renewable energy.
							.group-20.offset-md.d-flex.align-items-center(data-lightgallery={selector:'.btn-play'})
								a.btn.btn-lg.btn-primary( href='#' ) Learn More
								a.btn.btn-lg.btn-play.btn-secondary(  href='https://www.youtube.com/watch?v=d5k9CILJivQ' )
									span.btn-play-icon.mdi.mdi-play
			.swiper-slide.bg-image.min-vh-100.section-lg( style='background-image: url( images/slides/slide-03-1920x1000.png )' )
				.container
					.row
						.col-sm-10.col-md-9.col-lg-7.col-xl-6
							h1 Durable Solar Panels
							p We manufacture and provide top-notch solar panel systems.
							.group-20.offset-md.d-flex.align-items-center(data-lightgallery={selector:'.btn-play'})
								a.btn.btn-lg.btn-primary( href='#' ) Learn More
								a.btn.btn-lg.btn-play.btn-secondary(  href='https://youtu.be/d5k9CILJivQ' )
									span.btn-play-icon.mdi.mdi-play
		.swiper-pagination
