include ../thumbnail-scaleup/_thumbnail-scaleup

section.section-lg.section.bg-200.novi-background( data-preset!={ title:'Projects', category:'content', reload:false, id:'projects' } )
	.container.text-center
		.row.row-50.row-lg-60.row-xl-80.justify-content-center
			.col-12.text-center
				h2 Take a Look at Our
					br.d-none.d-md-inline
					| Latest Projects
			.col-sm-10.col-md-6
				+thumbnail-scaleup({
					img: 'image-03-620x420',
					title: 'WTC Photovoltaic Power Station',
					link: 'single-project.html',
					description: 'A small solar energy power plant.'
				})
			.col-sm-10.col-md-6
				+thumbnail-scaleup({
					img: 'image-04-620x420',
					title: 'LA Solar Energy Power Plant',
					link: 'single-project.html',
					description: 'One of our most ambitious projects.'
				})
			.col-sm-10.col-md-6
				+thumbnail-scaleup({
					img: 'image-05-620x420',
					title: 'Seattle Wind Turbine Complex',
					link: 'single-project.html',
					description: 'Supplying a local state with wind energy.'
				})
			.col-sm-10.col-md-6
				+thumbnail-scaleup({
					img: 'image-06-620x420',
					title: 'Renewable Energy for Vehicles',
					link: 'single-project.html',
					description: 'A project made possible thanks to our partners.'
				})
			.col-12.text-center
				a.btn.btn-primary.btn-lg( href='portfolio.html') Learn More
