// Users
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Users', category:'counter, call to action', reload:false, id:'users' } )
	.container
		.text-center( data-animate!={ class: 'fadeInUp' } )
			h2 Trusted by #[span.text-primary #[span( data-counter ) 3217]+] clients
			p Take a look at the latest testimonials submitted by our clients.
			a.btn.btn-lg.btn-primary( href='#' ) See All Reviews
