include ../post/_post
include ../pag/_pag
include ../person/_person
include ../quote-simple/_quote-simple
include ../comment/_comment

// Post single intro
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Post Single Intro', category:'blog', reload:true, id:'post-single-intro' } )
	.container
		.row.row-40.novi-disabled
			.col-md-4.col-xxl-3
				+person({
					img:      'persons/person-04-120x120',
					title:    'Adam Smith',
					subtitle: 'Blog author',
					text:     'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
					links: [
						{ iconClass: ' person-icon-sm int-youtube' },
						{ iconClass: ' person-icon-sm int-facebook' },
						{ iconClass: ' person-icon-sm int-instagram' }
					]
				}).person-rounded.person-sm.blog-article-person.text-start
			.col-md-8
				.blog-article.clearfix
					h3.h3-small.post-single-subtitle 1. New level of renewables’ share
					p
						| Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
						!= ' <b>enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</b> '
						| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
					p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
					figure.figure
						+img( 'image-08-840x540' ).figure-img
						figcaption.figure-caption 1. Solar energy
					p
						span Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud

						span.figure.figure-float.figure-float-left
							+img( 'image-09-380x245').figure-img
							span.figure-caption 2. Wind energy
						span Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
						!= ' <b>minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </b> '
						span Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod
						!= ' <mark>tempor incididunt</mark> '
						span ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						span Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat. Lorem ipsum dolor sit amet conse ctetur adipisicing.

					h3.h3-small.post-single-subtitle.offset-md 2.  Renewable energy sources rating.
					p.offset-sm
						| Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
						= ' '
						b: u commodo consequat
						= ' '
						| Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
					h4.h4-small.offset-sm 2. 1. Solar & wind energy.
					p.offset-sm Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.
					.offset-sm
						.row.row-15
							.col-sm-6
								ul.list.list-marked-arrow
									li.list-item Vulputate mi sit amet;
									li.list-item
										| Mauris commodo quis;
										ul.list.list-marked-arrow
											li.list-item Blandit libero volutpat;
											li.list-item Sed cras ornare;
									li.list-item Arcu dui.
							.col-sm-6
								ul.list.list-marked
									li.list-item Urna id volutpat;
									li.list-item
										| Lacus laoreet;
										ul.list.list-marked
											li.list-item Non curabitur gravida;
											li.list-item Quam adipiscing;
									li.list-item Vitae proin sagittis.
					h4.h4-small.offset-sm 2. 2. Hydroelectric energy.
					p Amet dictum sit amet justo donec. Orci ac auctor augue mauris augue neque gravida. Ultricies mi eget mauris pharetra et ultrices:
					ul.list.list-ordered.offset-sm
						li.list-item Urna porttitor rhoncus;
						li.list-item
							| Dolor purus non ;
							ul.list.list-ordered
								li.list-item Facilisi cras fermentum;
								li.list-item Odio eu feugiat;
						li.list-item Pretium nibh ipsum.

					h3.h3-small.post-single-subtitle.offset-md 3. What experts think.
					p.offset-sm Elit eget gravida cum sociis. A diam sollicitudin tempor id eu nisl nunc mi. Quisque non tellus orci ac auctor. Nisi vitae suscipit tellus mauris. Nibh tortor id aliquet lectus. Proin nibh nisl condimentum id venenatis a condimentum vitae sapien.
					.offset-sm
						+quote-simple({
							imgQuote: true,
							text:     'Consequat nisl vel pretium lectus quam id leo. Nunc id cursus metus aliquam.',
							name:     'Emma Wilson'
						}).quote-simple-shadow.text-center
					p.offset-sm Sagittis nisl rhoncus mattis rhoncus urna neque viverra justo nec. Mus mauris vitae ultricies leo integer malesuada nunc vel. Sollicitudin nibh sit amet commodo nulla.
					.offset-sm
						+quote-simple({
							imgQuote: true,
							text:     'Risus pretium quam vulputate dignissim suspendisse. Pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae.',
							name:     'Edward Rivera'
						})
					p.small.offset-sm Ridiculus mus mauris vitae ultricies leo integer. Cursus risus at ultrices mi tempus.
					.tag-container
						a.tag.tag-light( href='#' ) News
						a.tag.tag-light( href='#' ) Solar
						a.tag.tag-light( href='#' ) Energy
						a.tag.tag-light( href='#' ) Trends

					.post-share.post-share-2
						.post-share-title Share
						a.post-share-icon.int-facebook.novi-icon( href='#' )
						a.post-share-icon.int-twitter.novi-icon( href='#' )

					hr.divider.divider-sm.post-single-divider

					
					+pag-extended({
						prevTitle: 'Ten clean energy stocks for 2023: Trades',
						prevBtn:   'Prev post',
						nextTitle: 'The role of Microgrids in the  energy landscape',
						nextBtn:   'Next post'
					}).justify-content-center

					hr.divider.divider-sm.post-single-divider

					h6.blog-article-subtitle Related posts
					.row.row-40
						.col-sm-6
							+post-classic-2({
								title:    'Energy storage is the key to energy access in East Africa',
								label:    'News',
								autor:    'Mark Rogers',
								date:     'September 16, 2023',
								img:      'image-09-400x257',
								postText: 'ed risus ultricies tristique nulla aliquet enim tortor. Leo vel orci porta non pulvinar neque laoreet suspendisse.',
								coments:  '25'
							}).post-sm
						.col-sm-6
							+post-classic-2({
								title:    'Why we should let local power companies generate their own distributed energy',
								label:    'News',
								autor:    'Mark Rogers',
								date:     'September 16, 2023',
								img:      'image-05-400x257',
								postText: 'Sit amet massa vitae tortor condimentum. Faucibus purus in massa tempor nec feugiat nisl.',
								coments:  '25'
							}).post-sm

					hr.divider.divider-sm.post-single-divider

					h5.blog-article-subtitle 3 comment(s)
					+comment({
						name: 'Adam Smith',
						time: {
							date: '2023-09-16',
							text: 'September 16, 2023'
						},
						text: 'Thank you for such an informative post! It will surely be of great use to me in my future work.'
					}).comment-cloud
						+comment({
							img:  'persons/person-04-60x60',
							name: 'Mark Rogers',
							time: {
								date: '2023-09-16',
								text: 'September 16, 2023'
							},
							text: 'You’re welcome! I’m going to post more on this topic soon.'
						}).comment-cloud
					+comment({
						name: 'John Peters',
						time: {
							date: '2023-09-16',
							text: 'September 16, 2023'
						},
						text: 'Your every post contains a lot of great tips and lifehacks! Thank you for sharing all this useful information with your readers.'
					}).comment-cloud

					hr.divider.divider-sm.post-single-divider

					include ../post/_post-form-comment
