// Project gallery 3
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Project Gallery', category:'gallery, content box', reload:true, id:'project-gallery-3' } )
	.container
		.row.row-40.row-xl-70( data-lightgallery )
			.col-lg-12
				h3 Seattle Wind Turbine Complex
				// Owl Carousel
				.owl-carousel( data-owl= { loop: false, dots: true } )
					a.thumbnail-zoom.lightgallery-item( href='images/image-05-1280x700.jpg' )
						+img( 'image-05-1280x700' )
					a.thumbnail-zoom.lightgallery-item( href='images/image-06-1280x700.jpg' )
						+img( 'image-06-1280x700' )
					a.thumbnail-zoom.lightgallery-item( href='images/image-07-1280x700.jpg' )
						+img( 'image-07-1280x700' )
				
			.col-lg-6.col-xxl-5
				h3.h3-small About this project
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Est ultricies integer quis auctor. Vulputate mi sit amet mauris commodo quis.
				a.btn.btn-primary.btn-lg( href= '#' ) Learn More
				.group-30.d-flex.text-dark.mt-5
					a.icon.icon-sm.icon-social.int-youtube.novi-icon( href='#' )
					a.icon.icon-sm.icon-social.int-facebook.novi-icon( href='#' )
					a.icon.icon-sm.icon-social.int-instagram.novi-icon( href='#' )
					a.icon.icon-sm.icon-social.int-twitter.novi-icon( href='#' )
					a.icon.icon-sm.icon-social.int-linkedin.novi-icon( href='#' )
			.col-lg-6.col-xxl-5.offset-xxl-1.dl-area
				h3.h3-small Details
				p Urna id volutpat lacus laoreet non curabitur gravida. Quam adipiscing vitae proin sagittis nisl. Amet dictum sit amet justo donec. Orci ac auctor augue mauris augue neque gravida. Ultricies mi eget. 
				dl.dl-horizontal.small
					dt Client:
					dd Seattle State Government
				dl.dl-horizontal.small
					dt Year:
					dd 2023
				dl.dl-horizontal.small
					dt Terms:
					dd Feb 2023 - Mar 2023
				dl.dl-horizontal.small
					dt Budget:
					dd $ 40,646,923
				dl.dl-horizontal.small
					dt Location:
					dd Seattle, WA
