include ../blurb/_blurb

// Services
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Services', category:'blurb', reload:false, id:'services-2' } )
	.container
		h5.text-primary What we offer
		h3 We provide a variety of renewable energy 
			br
			| solutions for your home and office
		.row.row-offset-lg.row-30.row-md-40
			.col-sm-6.col-lg-4
				+blurb-modern({
					embed: '<span class="blurb-icon text-primary linearicons-home icon2 novi-icon"></span>',
					title: 'Project management',
					text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.'
				}).blurb-modern
			.col-sm-6.col-lg-4
				+blurb-modern({
					embed: '<span class="blurb-icon text-primary linearicons-pie-chart novi-icon"></span>',
					title: 'Project financing',
					text: 'Est ultricies integer quis auctor. Vulputate mi sit amet mauris commodo quis. Blandit libero.'
				}).blurb-modern
			.col-sm-6.col-lg-4
				+blurb-modern({
					embed: '<span class="blurb-icon text-primary linearicons-menu3 novi-icon"></span>',
					title: 'Construction management',
					text: 'Quam adipiscing vitae proin sagittis nisl. Amet dictum sit amet justo donec. Orci ac auctor augue mauris augue neque gravida.'
				}).blurb-modern
			.col-sm-6.col-lg-4
				+blurb-modern({
					embed: '<span class="blurb-icon text-primary linearicons-sun novi-icon"></span>',
					title: 'Asset management',
					text: 'Urna porttitor rhoncus dolor purus non enim. Facilisi cras fermentum odio eu feugiat pretium nibh ipsum consequat.'
				}).blurb-modern
			.col-sm-6.col-lg-4
				+blurb-modern({
					embed: '<span class="blurb-icon text-primary linearicons-cable novi-icon"></span>',
					title: 'Engineering and design',
					text: 'Metus vulputate eu scelerisque felis imperdiet proin fermentum leo vel. A condimentum vitae sapien.'
				}).blurb-modern
			.col-sm-6.col-lg-4
				+blurb-modern({
					embed: '<span class="blurb-icon text-primary linearicons-wind novi-icon"></span>',
					title: 'Pre-construction activities',
					text: 'Elit eget gravida cum sociis. A diam sollicitudin tempor id eu nisl nunc mi. Quisque non.'
				}).blurb-modern

