include ../progress-linear/_progress-liear

// Team member
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Team Member', category:'person', reload:true, id:'team-member' } )
	.container
		.row.row-40.novi-background
			.col-xs-10.col-md-5
				+img( 'persons/person-04-510x510' )
				a.btn.btn-block.btn-lg.btn-primary( href='contact-us.html' ) Get in Touch
				.offset-md
					.d-inline-flex.align-items-center
						span.icon.icon-xs.int-phone.novi-icon.me-2
						.h5.mt-0: a( href='tel:#' ) +1 234 567 8901
				ul.list.list-xs.small
					li.list-item Monday-Friday: 8am - 6pm
					li.list-item Saturday-Sunday: 8am - 2pm
					li.list-item Holidays: closed
				.offset-xs
					a.fw-normal( href='mailto:#' ) jwilliams@demolink.org
				.offset-sm
					.group-30.d-inline-flex.text-900
						a.icon.icon-sm.icon-social.int-youtube.novi-icon( href='#' )
						a.icon.icon-sm.icon-social.int-facebook.novi-icon( href='#' )
						a.icon.icon-sm.icon-social.int-instagram.novi-icon( href='#' )
						a.icon.icon-sm.icon-social.int-twitter.novi-icon( href='#' )
						a.icon.icon-sm.icon-social.int-linkedin.novi-icon( href='#' )
			.col-md-7: .ps-xl-4
				.row.row-30.row-md-40.row-xl-60
					.col-12
						h3 Hello,
							br
							| I’m John Williams.
							br
							| I’m the founder and chief executive officer of InGreen.
					.col-12
						h4.h4-small Green energy is my passion
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Est ultricies integer quis auctor. Vulputate mi sit amet mauris commodo quis. Blandit libero volutpat sed cras ornare arcu dui. 
					.col-12
						h4.h4-small What I specialize in
						p Urna id volutpat lacus laoreet non curabitur gravida. Quam adipiscing vitae proin sagittis nisl. Amet dictum sit amet justo donec. Orci ac auctor augue mauris augue neque gravida.
					.col-12.progress-linear-area
						+progress-linear({
							title: 'Solar energy',
							value: '75',
							hideValue: true
						}).progress-linear-lg.progress-linear-secondary
						+progress-linear({
							title: 'Wind energy',
							value: '99',
							hideValue: true
						}).progress-linear-lg.progress-linear-secondary
						+progress-linear({
							title: 'Hybrid energy',
							value: '45',
							hideValue: true
						}).progress-linear-lg.progress-linear-secondary
					.col-12
						h4.h4-small Awards:
						.row.row-20.gutters-20.row-text
							.col-6.col-sm-4.col-md-6.col-lg-4
								article.award
									.award-title.h3.h3-small 2023
									.award-text.small CEO of the Year in Renewable Energy
							.col-6.col-sm-4.col-md-6.col-lg-4
								article.award
									.award-title.h3.h3-small 2018
									.award-text.small Local Renewable Energy Leader
							.col-6.col-sm-4.col-md-6.col-lg-4
								article.award
									.award-title.h3.h3-small 2016
									.award-text.small Best Green Energy Industry Contributor
							.col-6.col-sm-4.col-md-6.col-lg-4
								article.award
									.award-title.h3.h3-small 2014
									.award-text.small Best Project Management
							.col-6.col-sm-4.col-md-6.col-lg-4
								article.award
									.award-title.h3.h3-small 2013
									.award-text.small Leading Industry Innovator
									
