{% extends "shop/base_shop.html" %}
{% load static %}

{% block shop_content %}


      <section>
        <!-- Modern Breadcrumbs-->
        <div class="parallax-container breadcrumb-modern bg-gray-darkest context-dark" data-parallax-img="{% static 'core/images/background-1-1920x651.jpg' %}">
          <div class="parallax-content">
            <div class="bg-overlay-gray-darkest">
              <div class="container section-34 section-md-50 section-lg-110">
                <div class="text-extra-big font-accent d-none d-lg-block"><span class="big">Shop</span></div>
                <ul class="list-inline list-inline-dashed p offset-top-0">
                  <li class="list-inline-item"><a class="small" href="index.html">Home</a></li>
                  <li class="list-inline-item">Shop
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-98 section-md-124 novi-background" data-preset='{"title":"Shop block","category":"shop","reload":false,"id":"shop-block"}'>
        <div class="container">
          <div class="row">
            <div class="col-lg-9">

              <div class="row justify-content-sm-center">
                {% for product in products %}
                <div class="col-sm-8 col-md-6 col-xl-4">
                  <!-- Product-->
                  <div class="product product-grid product-grid-type-2">
                    <!-- Product Image-->
                    <div class="product-image">
                      <img class="img-fluid product-image-area" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'shop/img/no_image.png' %}{% endif %}" alt="{{ product.name }}">
                      <!-- Product Label-->
                      {% if product.available %}
                      <span class="product-label label-custom label-lg-custom label-rounded-custom label-info">New</span>
                      {% endif %}
                    </div>
              
                    <div class="product-title offset-top-4 text-primary">
                      <a class="big" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                    </div>
                  </div>
                </div>
                {% endfor %}

              </div>





              {% include "pagination2.html" with page=products %}




            </div>



            {% include "shop/sidebar.html" with categories=categories %}
            


          </div>
        </div>
      </section>

{% endblock %}