.widget
	h5.widget-title About us
	.widget-body
		+post-simple({
			link:     'about-us.html',
			img:      'image-17-310x200',
			title:    'Delivering the best renewable energy solutions',
			postText: 'Elit eget gravida cum sociis. A diam sollicitudin tempor id eu nisl nunc mi. Quisque non tellus orci ac auctor. Nisi vitae suscipit tellus mauris. Nibh tortor id aliquet lectus.',
			btnText:  'Read more'
		}).post-sm
