.widget
	h5.widget-title Categories
	.widget-body
		ul.widget-list
			li: a.link-inherit( href='#' ) All categories
			li: a.link-inherit( href='#' ) News
			li: a.link-inherit( href='#' ) Energy
			li: a.link-inherit( href='#' ) Renewable
			li: a.link-inherit( href='#' ) Solar energy
			li: a.link-inherit( href='#' ) Hybrid energy
			li: a.link-inherit( href='#' ) Wind energy
			li: a.link-inherit( href='#' ) Biomass energy
			li: a.link-inherit( href='#' ) Efficiency
			li: a.link-inherit( href='#' ) Management
			li: a.link-inherit( href='#' ) Infrastructure
			li: a.link-inherit( href='#' ) Analytics
