.widget
	h6.widget-title Archive list
	.widget-body
		ul.widget-list
			li
				a.link-inherit( href='#' ) November 2022
				span 2
			li
				a.link-inherit( href='#' ) October 2022
				span 14
			li
				a.link-inherit( href='#' ) September 2022
				span 8
			li
				a.link-inherit( href='#' ) August 2022
				span 3
			li
				a.link-inherit( href='#' ) July 2022
				span 1
