.widget
	h5.widget-title Recent post
	.widget-body.post-area
		+post-simple({
			title:    'Renewables achieve clean energy record',
			label:    'News',
			date:     'September 16, 2023'
		}).post-sm
		+post-simple({
			title:    'Ten clean energy stocks for 2023: Trades',
			label:    'News',
			date:     'September 16, 2023'
		}).post-sm
