.widget
	h5.widget-title Tags
	.widget-body
		.tag-container
			a.tag.tag-light( href='#' ) News
			a.tag.tag-light( href='#' ) Solar
			a.tag.tag-light( href='#' ) Energy
			a.tag.tag-light( href='#' ) Trends
			a.tag.tag-light( href='#' ) Technology
			a.tag.tag-light( href='#' ) Renewable
			a.tag.tag-light( href='#' ) Wind
			a.tag.tag-light( href='#' ) Hydroelectric
			a.tag.tag-light( href='#' ) Hybrid
			a.tag.tag-light( href='#' ) Green
			a.tag.tag-light( href='#' ) Ecology
