{% extends "core/base.html" %}
{% load static %}

{% block content %}
<div class="blog-container">
  <aside class="sidebar">
    <!-- Sidebar content -->
  </aside>
  <div class="blog-main-content">
    <section>
      <!-- Modern Breadcrumbs-->
      <div class="parallax-container breadcrumb-modern bg-gray-darkest context-dark" data-parallax-img="{% static 'core/images/background-1-1920x651.svg' %}">
        <div class="parallax-content">
          <div class="bg-overlay-gray-darkest">
            <div class="container section-34 section-md-50 section-lg-110">
              <div class="text-extra-big font-accent d-none d-lg-block">
                <span class="big">Blogs</span>
              </div>
              <ul class="list-inline list-inline-dashed p offset-top-0">
                <li class="list-inline-item"><a class="small" href="{% url 'core:index' %}">Home</a></li>
                <!-- <li class="list-inline-item"><a class="small" href="shop.html">Shop</a></li> -->
                <li class="list-inline-item">Blogs&News</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% block blog_content %}
    {% endblock %}
  </div>
</div>
{% endblock %}
