{% extends "core/base.html" %}
{% load static %}

{% block extra_css %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.2/flickity.min.css">
<style>
  /* external css: flickity.css */
  * {
    box-sizing: border-box;
  }

  .container-flicker {
    max-width: 1600px;
    margin: 0 auto;
  }
  
  .container-flicker .carousel-nav {
    max-width: 600px;
    margin: 0 auto;
  }

  body {
    font-family: sans-serif;
  }

  .carousel {
    background: #fafafa;
    margin-bottom: 40px;
    overflow: visible; /* To show part of the next and previous cells */
  }

  .carousel-cell {
    width: 80%; /* Adjust width to show part of the neighboring cells */
    height: 200px;
    margin-right: 10px;
    background: #8c8;
    border-radius: 5px;
    overflow: hidden; /* To ensure the image fits within the border-radius */
    position: relative;
  }

  .carousel-cell img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire cell area */
  }

  /* cell number */
  .carousel-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent overlay */
  }

  .carousel-nav .carousel-cell {
    height: 80px;
    width: 100px;
  }

  .carousel-nav .carousel-cell img {
    height: 100%;
  }

  .carousel-nav .carousel-cell:before {
    font-size: 50px;
    line-height: 80px;
  }

  .carousel-nav .carousel-cell.is-nav-selected {
    background: #ed2;
  }
</style>

{% endblock %}


{% block content %}
 

      <!-- Swiper-->
      <section class="section-relative" data-preset='{"title":"Slider","category":"content, slider","reload":true,"id":"slider"}'>
        <div class="swiper-container swiper-slider" data-loop="true" data-autoplay="true" data-slide-effect="fade" data-dragable="false" data-dots="true">
          <div class="swiper-wrapper">
            {% for slide in slides %}
            <div class="swiper-slide swiper-slide-overlay-disable swiper-slide-center" data-slide-bg="{{ slide.image.url }}"></div>
            <img src="slide.image.url" alt="">
            {% endfor %}
          </div>
          <!-- Swiper Pagination-->
          <div class="swiper-pagination swiper-pagination-type-2"></div>
        </div>
        <div class="section-center-absolute">
          <div class="text-extra-big text-white font-accent">Unique creationsX</div>
          <h5 class="text-regular text-white offset-top-10">For Unique Occasions</h5>
          <div class="container offset-top-14 offset-md-top-66">
            <div class="row justify-content-sm-center grid-group-xs">
              <div class="col-lg-5"><a class="btn btn-block btn-primary btn-ellipse" href="{% url 'core:shop' %}">shop now</a></div>
              <div class="col-lg-5"><a class="btn btn-block btn-default btn-ellipse btn-anis-effect" href="{% url 'core:blog' %}">view blog</a></div>
            </div>
          </div>
        </div>
      </section>


      <!-- Our Shop-->
      <section class="section-98 section-md-top-110 section-md-bottom-124 novi-background">
        <div class="container">
            <h1 class="text-between">Our Shop</h1>
            <div class="offset-top-30">
                <!-- Tabs Classic-->
                <div class="responsive-tabs responsive-tabs-classic" data-type="horizontal">
                    <ul class="resp-tabs-list tabs-1 text-center tabs-group-default" data-group="tabs-group-default">
                        <li>New Arrivals</li>
                        <li>Popular</li>
                    </ul>
                    <div class="resp-tabs-container text-left tabs-group-default" data-group="tabs-group-default">
                        <!-- New Arrivals Tab-->
                        <div>
                            <div class="row">
                                {% for product in new_arrivals %}
                                <div class="col-md-6 col-lg-3">
                                    <!-- Product-->
                                    <div class="product product-grid product-grid-type-2">
                                        <!-- Product Image-->
                                        <div class="product-image">
                                            <a class="big" href="{{ product.get_absolute_url }}"><img class="img-fluid product-image-area" src="{{ product.image.url }}" alt="{{ product.name }}"></a>
                                            
                                            {% if product.tags.name == 'Sale' %}
                                            <span class="product-label label-custom label-lg-custom label-rounded-custom label-danger">Sale</span>
                                            {% endif %}
                                        </div>
                                        <!-- Product Title-->
                                        <div class="product-title offset-top-4 text-primary">
                                            <a class="big" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- Popular Products Tab-->
                        <div>
                            <div class="row">
                                {% for product in popular_products %}
                                <div class="col-md-6 col-lg-3">
                                    <!-- Product-->
                                    <div class="product product-grid product-grid-type-2">
                                        <!-- Product Image-->
                                        <div class="product-image">
                                            <img class="img-fluid product-image-area" src="{{ product.image.url }}" alt="{{ product.name }}">
                                            {% if product.tags.name == 'Sale' %}
                                            <span class="product-label label-custom label-lg-custom label-rounded-custom label-danger">Sale</span>
                                            {% endif %}
                                        </div>
                                        <!-- Product Title-->
                                        <div class="product-title offset-top-4 text-primary">
                                            <a class="big" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
      <!-- Classic Gallery Carousel-->
      <!-- Embed Video-->
      <!-- Classic Soundcloud Player-->
      <!-- Upcoming Products-->
      <section class="context-dark" data-preset='{"title":"Content block 2","category":"content, parallax","reload":true,"id":"content-block-2"}'>
        <div class="parallax-container" data-parallax-img="{% static 'core/images/home-04-1920x1230.jpg' %}">
          <div class="parallax-content">
            <div class="bg-overlay-gray-darkest">
              <div class="container section-98 section-md-110">
                <h1 class="text-between text-white">Upcoming Products</h1>
                <div class="row justify-content-sm-center">
                  {% for news in diy_news_list %}
                  <div class="col-md-6 col-lg-5 col-xl-3">
                    <!-- Post Event-->
                    <article class="post post-event-type-2">
                      <!-- Post media-->
                      <header class="post-media novi-excluded">
                        <a href="{{ news.get_absolute_url }}">
                          <img src="{{ news.cover_image.url }}" width="270" height="310" alt="{{ news.title }}">
                          <span class="icon fa fa-info-circle novi-icon"></span>
                        </a>
                      </header>
                      <!-- Post content-->
                      <section class="post-content text-left novi-excluded offset-top-10">
                        <!-- Post Body-->
                        <div class="post-body">
                          <!-- Post Title-->
                          <h5 class="offset-top-10"><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></h5>
                        </div>
                      </section>
                    </article>
                  </div>
                  {% endfor %}
                </div>
                <div class="row justify-content-sm-center offset-top-66">
                  <div class="col-sm-10 col-md-6 col-lg-5 col-xl-4 inset-left-50 inset-sm-left-80 inset-right-50 inset-sm-right-80">
                    <a class="btn btn-block btn-default btn-ellipse" href="#">view all Products</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      
      <!-- Latest Blog Posts-->
      <section class="section-98 section-md-110 novi-background" data-preset='{"title":"Blog 1","category":"content, blog","reload":false,"id":"blog-1"}'>
        <div class="container">
            <h1 class="text-between">Latest Blog Posts</h1>
            <div class="row justify-content-sm-center">
              {% for post in latest_classic_image_posts %}
              <div class="col-md-10 col-lg-6 offset-top-66 offset-md-top-30 offset-lg-top-0">
                  <!-- Post Boxed-->
                  <a class="d-block" href="{{ post.get_absolute_url }}">
                      <div class="post post-boxed">
                          <!-- Post media-->
                          <header class="post-media novi-excluded">
                              <img class="img-fluid" width="570" height="321" src="{{ post.classic_image.url }}" alt="{{ post.title }}">
                          </header>
                          <!-- Post content-->
                          <section class="post-content text-left novi-excluded">
                              <div class="post-tags group-xs">
                                  {% for tag in post.tags.all %}
                                      <span class="label-custom label-lg-custom label-primary">{{ tag.name }}</span>
                                  {% endfor %}
                              </div>
                              <div class="post-body">
                                  <!-- Post Title-->
                                  <div class="post-title">
                                      <h4 class="text-regular">{{ post.title }}</h4>
                                  </div>
                                  <div class="post-meta small">
                                      <ul class="list-inline list-inline-sm p">
                                          <li class="list-inline-item font-italic text-middle">by&nbsp;<span class="text-warning">{{ post.author }}</span></li>
                                          <li class="list-inline-item"><span class="text-middle icon-xxs mdi mdi-clock novi-icon"></span>
                                              <time class="font-italic text-warning text-middle" datetime="{{ post.publish|date:"Y-m-d" }}">{{ post.publish|timesince }} ago</time>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </section>
                      </div>
                  </a>
              </div>
              {% if forloop.counter == 2 %}
                  <div class="row-spacer d-none d-lg-block offset-top-30"></div>
              {% endif %}
          {% endfor %}
                <div class="col-12 offset-top-66"><a class="btn btn-primary btn-ellipse" href="{% url 'blog:post_list' %}">view all blog posts</a></div>
            </div>
        </div>
    </section>





<section class="context-dark">
  <div class="parallax-container" data-parallax-img="{% static 'core/images/background-2-1920x1184.jpg' %}">
    <div class="parallax-content">
      <div class="section-98 section-md-124 bg-overlay-gray-darkest">
        <div class="container">
          <div class="row justify-content-center grid-group-md">
            <div class="col-md-8 col-lg-4"><span class="icon novi-icon icon-circle icon-bordered icon-carrot-filled icon-outlined mdi mdi-monitor"></span>
              <div>
                <h4 class="text-uppercase offset-top-30 font-weight-bold">Handmade</h4>
                <p>We teach basics of handmade craft that are quite easy to learn and practise. However, we help experienced handmaders as well.</p>
              </div>
            </div>
            <div class="col-md-8 col-lg-4"><span class="icon novi-icon icon-circle icon-bordered icon-carrot-filled icon-outlined mdi mdi-rocket"></span>
              <div>
                <h4 class="text-uppercase offset-top-30 font-weight-bold">design</h4>
                <p>If you are into design, but do not have access to expensive materials and cloth, our tutorials and lessons we conduct may be useful for you.</p>
              </div>
            </div>
            <div class="col-md-8 col-lg-4"><span class="icon novi-icon icon-circle icon-bordered icon-carrot-filled icon-outlined mdi mdi-xml"></span>
              <div>
                <h4 class="text-uppercase offset-top-30 font-weight-bold">workshops</h4>
                <p>Our masters carry out weekly workshops that are free to participate even if you don’t know anything about handmade art.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-98 section-md-top-110 section-md-bottom-124 novi-background"></section>
<!-- HTML structure for the newsletter subscription -->
<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-6">
          <div class="card shadow-sm">
              <div class="card-body">
                  <h5 class="card-title text-center mb-4">Join Our Newsletter!</h5>
                  <!-- Subscription form -->
                  <form method="post" action="">
                      {% csrf_token %}
                      <div class="input-group mb-3">
                          <input type="email" class="form-control" placeholder="Your Email Address" name="email" required>
                          <button class="btn btn-primary" type="submit">Subscribe</button>
                      </div>
                  </form>
                  <!-- End of form -->
              </div>
          </div>
      </div>
  </div>
</div>

</section>


      <!-- Another type of  Blog Posts-->
      <section class="section-98 section-md-110 novi-background" data-preset='{"title":"Blog 1","category":"content, blog","reload":false,"id":"blog-1"}'>
        <div class="container-fluid">
            <h1 class="text-between">Another type of  Blog Posts</h1>
            <div class="row justify-content-sm-center">
              {% for post in latest_classic_image_posts %}
              <div class="col-md-10 col-lg-3 offset-top-66 offset-md-top-30 offset-lg-top-0">
                  <!-- Post Boxed-->
                  <a class="d-block" href="{{ post.get_absolute_url }}">
                      <div class="post post-boxed">
                          <!-- Post media-->
                          <header class="post-media novi-excluded">
                              <img class="img-fluid" width="570" height="321" src="{{ post.classic_image.url }}" alt="{{ post.title }}">
                          </header>
                          <!-- Post content-->
                          <section class="post-content text-left novi-excluded">
                              <div class="post-tags group-xs">
                                  {% for tag in post.tags.all %}
                                      <span class="label-custom label-lg-custom label-primary">{{ tag.name }}</span>
                                  {% endfor %}
                              </div>
                              <div class="post-body">
                                  <!-- Post Title-->
                                  <div class="post-title">
                                      <h4 class="text-regular">{{ post.title }}</h4>
                                  </div>
                                  <div class="post-meta small">
                                      <ul class="list-inline list-inline-sm p">
                                          <li class="list-inline-item font-italic text-middle">by&nbsp;<span class="text-warning">{{ post.author }}</span></li>
                                          <li class="list-inline-item"><span class="text-middle icon-xxs mdi mdi-clock novi-icon"></span>
                                              <time class="font-italic text-warning text-middle" datetime="{{ post.publish|date:"Y-m-d" }}">{{ post.publish|timesince }} ago</time>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </section>
                      </div>
                  </a>
              </div>

          {% endfor %}
                <div class="col-12 offset-top-66"><a class="btn btn-primary btn-ellipse" href="{% url 'blog:post_list' %}">view all blog posts</a></div>
            </div>
        </div>
    </section>

    
    <section class="section-98 section-md-110 novi-background" data-preset='{"title":"Blog 1","category":"content, blog","reload":false,"id":"blog-1"}'>
      <div class="container-flicker">
          <h1>Flickity - asNavFor and Sync</h1>
          
          <!-- Flickity HTML init -->
          <div class="carousel carousel-main" data-flickity='{ "sync": ".carousel-nav", "prevNextButtons": false, "contain": true, "groupCells": true, "wrapAround": true }'>
              <div class="carousel-cell"><img src="{% static 'core/images/test.jpg' %}" alt="Test Image"></div>
              <div class="carousel-cell"><img src="{% static 'core/images/test.jpg' %}" alt="Test Image"></div>
              <div class="carousel-cell"><img src="{% static 'core/images/test.jpg' %}" alt="Test Image"></div>
              <div class="carousel-cell"><img src="{% static 'core/images/test.jpg' %}" alt="Test Image"></div>
              <div class="carousel-cell"><img src="{% static 'core/images/test.jpg' %}" alt="Test Image"></div>
              <div class="carousel-cell"><img src="{% static 'core/images/test.jpg' %}" alt="Test Image"></div>
              <div class="carousel-cell"><img src="{% static 'core/images/test.jpg' %}" alt="Test Image"></div>
              <div class="carousel-cell"><img src="{% static 'core/images/test.jpg' %}" alt="Test Image"></div>
              <div class="carousel-cell"><img src="{% static 'core/images/test.jpg' %}" alt="Test Image"></div>
              <div class="carousel-cell"><img src="{% static 'core/images/test.jpg' %}" alt="Test Image"></div>
          </div>
          
          <div class="carousel carousel-nav" data-flickity='{ "asNavFor": ".carousel-main", "contain": true, "pageDots": false, "wrapAround": true }'>
              <div class="carousel-cell"><img src="{% static 'core/images/test.jpg' %}" alt="Test Image"></div>
              <div class="carousel-cell"><img src="{% static 'core/images/test.jpg' %}" alt="Test Image"></div>
              <div class="carousel-cell"><img src="{% static 'core/images/test.jpg' %}" alt="Test Image"></div>
              <div class="carousel-cell"><img src="{% static 'core/images/test.jpg' %}" alt="Test Image"></div>
              <div class="carousel-cell"><img src="{% static 'core/images/test.jpg' %}" alt="Test Image"></div>
              <div class="carousel-cell"><img src="{% static 'core/images/test.jpg' %}" alt="Test Image"></div>
              <div class="carousel-cell"><img src="{% static 'core/images/test.jpg' %}" alt="Test Image"></div>
              <div class="carousel-cell"><img src="{% static 'core/images/test.jpg' %}" alt="Test Image"></div>
              <div class="carousel-cell"><img src="{% static 'core/images/test.jpg' %}" alt="Test Image"></div>
              <div class="carousel-cell"><img src="{% static 'core/images/test.jpg' %}" alt="Test Image"></div>
          </div>
      </div>
  </section>
  
    

  <section class="section-98 section-md-110 novi-background" data-preset='{"title":"Blog 1","category":"content, blog","reload":false,"id":"blog-1"}'>
    <div class="container-flicker">
        <h1>Flickity - asNavFor and Sync</h1>
        
        <!-- Flickity HTML init -->
        <div class="carousel carousel-main" data-flickity='{ "sync": ".carousel-nav", "prevNextButtons": false, "contain": true, "groupCells": true, "wrapAround": true }'>
            {% for product in new_arrivals %}
            <div class="carousel-cell">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                <div class="product-info">
                    <h2>{{ product.name }}</h2>
                    <p>{{ product.short_description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        
        <div class="carousel carousel-nav" data-flickity='{ "asNavFor": ".carousel-main", "contain": true, "pageDots": false, "wrapAround": true }'>
            {% for product in new_arrivals_collection %}
            <div class="carousel-cell">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                <div class="product-info">
                    <h2>{{ product.name }}</h2>
                    <p>{{ product.short_description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>




{% endblock %}



{% block extra_js %}
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="https://unpkg.com/flickity-sync@2.0.0/flickity-sync.js"></script>

{% endblock %}