{% extends "blog/base_blog.html" %}
{% load static %}
{% load blog_tags %}

{% block blog_content %}



      <section class="section-top-98 section-md-110 novi-background" data-preset='{"title":"Blog 3","category":"blog","reload":true,"id":"blog-3"}'>
        <div class="container">
          <div class="row justify-content-lg-center justify-content-xl-end">
            <div class="col-lg-8 inset-lg-right-30">
              <!-- Single Post-->
              <section class="text-left novi-excluded">
                
                <h1>{{ post.title }}</h1>
                <p class="date">
                  Published {{ post.publish }} by {{ post.author }}
                </p>
                {{ post.body|markdown }}




                <!-- Retrieving Posts by Similarity -->
                <hr class="offset-top-66">
                <h4 class="offset-top-66 text-uppercase text-spacing-120 text-center font-weight-bold">Similar Posts</h4>
                <div class="row offset-top-41 justify-content-md-center">
                  {% for post in similar_posts %}
                    <div class="col-md-6 col-lg-4 offset-top-24">
                      <!-- Post Widget-->
                      <article class="post widget-post text-left">
                        <a href="{{ post.get_absolute_url }}">
                          <div class="unit flex-row unit-spacing-xs align-items-center">
                            <div class="unit-left">
                              <img class="rounded-circle" width="60" height="60" src="{% if post.author_image %}{{ post.author_image.url }}{% else %}{% static 'blog/img/small_logo.jpg' %}{% endif %}" alt="">
                            </div>
                            <div class="unit-body">
                              <div class="post-meta">
                                <span class="icon-xxs text-primary mdi mdi-arrow-right novi-icon"></span>
                                <time datetime="{{ post.publish|date:'Y-m-d' }}">{{ post.publish|date:'m/d/Y' }}</time>
                              </div>
                              <div class="post-title">
                                <h6 class="text-regular">{{ post.title|truncatechars:32 }}</h6>
                              </div>
                            </div>
                          </div>
                        </a>
                      </article>
                    </div>
                    {% if forloop.counter|divisibleby:3 and not forloop.last %}
                      </div><div class="row offset-top-24 justify-content-md-center">
                    {% endif %}
                  {% empty %}
                    <p>There are no similar posts yet.</p>
                  {% endfor %}
                </div>
                
              </section>
            </div>
            {% show_sidebar post.author %}
          </div>
        </div>
      </section>
    

{% endblock %}