{% extends "blog/base_blog.html" %}
{% load static %}
{% load blog_tags %}

{% block blog_content %}


      <section data-preset='{"title":"Breadcrumbs 2","category":"breadcrumbs, blog","reload":true,"id":"breadcrumbs-2"}'>
        <!-- Modern Breadcrumbs-->
        <div class="parallax-container breadcrumb-modern bg-gray-darkest context-dark" data-parallax-img="{% static 'core/images/background-1-1920x651.jpg' %}">
          <div class="parallax-content">
            <div class="bg-overlay-gray-darkest">
              <div class="container section-34 section-md-50 section-lg-110">
                <div class="text-extra-big font-accent d-none d-lg-block"><span class="big">Single Blog Post</span></div>
                <ul class="list-inline list-inline-dashed p offset-top-0">
                  <li class="list-inline-item"><a class="small" href="index.html">Home</a></li>
                  <li class="list-inline-item"><a class="small" href="blog.html">Blog</a></li>
                  <li class="list-inline-item">Single Blog Post
                  </li>
                </ul>
                <div class="post-meta offset-top-50">
                  <ul class="list-inline p">
                    <li class="list-inline-item"><span class="text-middle icon-xxs mdi mdi-clock novi-icon"></span>
                      <time class="text-middle small" datetime="2018-01-01">March 7, 2018</time>
                    </li>
                    <li class="list-inline-item"><span class="text-middle icon-xxs mdi mdi-comment-multiple-outline novi-icon"></span><span class="text-middle small"></span> 141
                    </li>
                    <li class="list-inline-item"><span class="text-middle icon-xxs mdi mdi-heart novi-icon"></span><span class="text-middle small"></span> 541
                    </li>
                    <li class="list-inline-item"><span class="text-middle icon-xxs mdi mdi-share novi-icon"></span><span class="text-middle small"></span> 318
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-top-98 section-md-110 novi-background" data-preset='{"title":"Blog 3","category":"blog","reload":true,"id":"blog-3"}'>
        <div class="container">
          <div class="row justify-content-lg-center justify-content-xl-end">
            <div class="col-lg-8 inset-lg-right-30">
              <!-- Single Post-->
              <section class="text-left novi-excluded">
                <h1>BLOG</h1>
                
                <h1>{{ post.title }}</h1>
                <p class="date">
                  Published {{ post.publish }} by {{ post.author }}
                </p>
                {{ post.body|markdown }}
                <p>
                  <a href="{% url "blog:post_share" post.id %}">
                    Share this post
                  </a>
                </p>
                <h1>BLOG</h1>


                <!-- Retrieving Posts by Similarity -->
                <hr class="offset-top-66">
                <h4 class="offset-top-66 text-uppercase text-spacing-120 text-center font-weight-bold">Similar Posts</h4>
                <div class="row offset-top-41 justify-content-md-center">
                  {% for post in similar_posts %}
                    <div class="col-md-6 col-lg-4 offset-top-24">
                      <!-- Post Widget-->
                      <article class="post widget-post text-left">
                        <a href="{{ post.get_absolute_url }}">
                          <div class="unit flex-row unit-spacing-xs align-items-center">
                            <div class="unit-left">
                              <img class="rounded-circle" width="60" height="60" src="{% if post.author_image %}{{ post.author_image.url }}{% else %}{% static 'blog/img/small_logo.jpg' %}{% endif %}" alt="">
                            </div>
                            <div class="unit-body">
                              <div class="post-meta">
                                <span class="icon-xxs text-primary mdi mdi-arrow-right novi-icon"></span>
                                <time datetime="{{ post.publish|date:'Y-m-d' }}">{{ post.publish|date:'m/d/Y' }}</time>
                              </div>
                              <div class="post-title">
                                <h6 class="text-regular">{{ post.title|truncatechars:32 }}</h6>
                              </div>
                            </div>
                          </div>
                        </a>
                      </article>
                    </div>
                    {% if forloop.counter|divisibleby:3 and not forloop.last %}
                      </div><div class="row offset-top-24 justify-content-md-center">
                    {% endif %}
                  {% empty %}
                    <p>There are no similar posts yet.</p>
                  {% endfor %}
                </div>
                
              </section>
            </div>
            {% show_sidebar post.author %}
          </div>
        </div>
      </section>
    

{% endblock %}