{% extends "blog/base_blog.html" %}
{% load static %}
{% load blog_tags %}

{% block blog_content %}


      <section class="section-top-98 section-md-110 novi-background" data-preset='{"title":"Blog 2","category":"blog","reload":true,"id":"blog-2"}'>
        <div class="container">
          <div class="row justify-content-lg-center justify-content-xl-end">
            <div class="col-lg-8 inset-lg-right-30">
              <!-- Classic Gallery Carousel-->
              <!-- Embed Video-->
              <!-- Classic Soundcloud Player-->
              <!-- Blog Classic-->
              <section class="novi-excluded">

                {% if query %}
                <h1>Posts containing "{{ query }}"</h1>
                <h3>
                  {% with posts.paginator.count as total_results %}
                    Found {{ total_results }} result{{ total_results|pluralize }}
                  {% endwith %}
                </h3>
              {% endif %}


              {% for post in posts %}
              <!-- Type 1: Classic Post with Image -->
              <div class="offset-top-41 offset-md-top-66">
                <!-- Post Classic-->
                <article class="post post-classic">
                  <!-- Post media-->
                  {% if post.featured_image %}
                  <header class="post-media novi-excluded">
                    <div>
                      <a class="thumbnail-classic" href="{{ post.get_absolute_url }}" target="_self">
                        <figure>
                          <img width="770" height="434" src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                        </figure>
                      </a>
                    </div>
                  </header>
                  {% endif %}
                  <!-- Post content-->
                  <section class="post-content text-left novi-excluded offset-top-41">
                    <div class="unit unit-sm flex-md-row flex-md-row-reverse">
                      <div class="unit-body">
                        <!-- Post Meta-->
                        <div class="post-meta text-dark">
                          <span class="text-middle icon-xxs text-primary mdi mdi-arrow-right novi-icon"></span>
                          <time class="text-middle small" datetime="{{ post.publish|date:'Y-m-d' }}">{{ post.publish|date:'m/d/Y' }}</time>
                        </div>
                        <!-- Post Title-->
                        <h3 class="text-regular offset-top-10"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                        <!-- Post Body-->
                        <div class="post-body">
                          <p>{{ post.body|safe|truncatewords_html:30 }}</p>
                        </div>
                        <!-- Post Tags-->
                        <p class="text-dark text-md-right"><small>{% for tag in post.tags.all %}<a href="{% url 'blog:post_list_by_tag' tag.slug %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</small></p>
                      </div>
                      <div class="unit-right">
                        <div class="unit flex-row align-items-center flex-md-column unit-spacing-xs">
                          <div class="unit-left"><img class="rounded-circle" src="{% if post.author_image %}{{ post.author_image.url }}{% else %}{% static "blog/img/small_logo.jpg" %}{% endif %}" alt="{{ post.author.get_full_name }}" width="70" height="70"></div>
                          <div class="unit-body">
                            <p class="text-dark">
                              <cite class="small text-normal">{{ post.author.get_full_name }}</cite>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </article>
              </div>
              <hr class="hr bg-lighter offset-top-41 offset-md-top-66">
              
              {% endfor %}
              




              <!-- My pagination -->    
              {% include "pagination2.html" with page=posts %}



              </section>
            </div>
            {% show_sidebar %}
          </div>
        </div>
      </section>

{% endblock %}