@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../base/mixins";

.custom-map {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 720px;
	min-height: 280px;
	margin-left: auto;
	margin-right: auto;
}

.map-inner {
	position: relative;
}

.map-marker-box {
	position: absolute;
}

.map-marker {
	z-index: 2;
	width: 12px;
	height: 12px;
	background: $primary;
	cursor: pointer;
	border-radius: 50%;

	&.active, 
	&:hover {
		opacity: .9;
	}
	
	&.map-marker-2 {
		width: 14px;
		height: 14px;
	}

	&.map-marker-3 {
		width: 17px;
		height: 17px;
	}

	&.map-marker-4 {
		width: 22px;
		height: 22px;
	}

	&.map-marker-5 {
		width: 24px;
		height: 24px;
	}

	&.map-marker-6 {
		width: 25px;
		height: 25px;
	}
	
	&.map-marker-secondary {
		background: $secondary;
	}

	&.map-marker-dark {
		background: $dark;
	}
}


// Popup
.map-popup {
	position: absolute;
	bottom: 145%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 3;
	width: 200px;
	backface-visibility: hidden;
	background: $white;
	border-radius: 6px;
	font-weight: 400;
	color: $body-color;
	box-shadow: $box-shadow;
	padding: 15px;
	opacity: 0;
	visibility: hidden;
	transition: .22s;

	&:before {
		position: absolute;
		display: none;
		left: 50%;
		content: '';
		bottom: -20px;
		margin-left: -10px;
		border: 10px solid transparent; 
		border-top: 16px solid $white;
	}
	
	&.active {
		opacity: 1;
		visibility: visible;
	}
	
	&.map-popup-left {
		@include media-breakpoint-down(sm) {
			left: -10px;
			transform: translateX(0);
		}
	}
	&.map-popup-right {
		@include media-breakpoint-down(sm) {
			left: auto;
			right: -10px;
			transform: translateX(0);
		}
	}
	
	@include media-breakpoint-up(sm) {
		&:before {
			display: block;
		}
	}
}
.map-popup-title {
	color: $primary;
}

.map-popup-text {
	font-size: $font-size-sm;
	color: $gray-900;
}
